In [1]:
import numpy as np
import pandas as pd
import os

In [4]:
Weather_data = pd.read_csv('./weather_data.csv')
Weather_data = Weather_data.drop(['Serial_ID','Date'], axis=1)
Weather_data.head()

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH
0,74,60,45,67,49,43,93,75,57,29.86,29.68,29.59,10,7,2,20,4,31
1,56,48,39,43,36,28,93,68,43,30.41,30.13,29.87,10,10,5,16,6,25
2,58,45,32,31,27,23,76,52,27,30.56,30.49,30.41,10,10,10,8,3,12
3,61,46,31,36,28,21,89,56,22,30.56,30.45,30.3,10,10,7,12,4,20
4,58,50,41,44,40,36,86,71,56,30.41,30.33,30.27,10,10,7,10,2,16

In [5]:
weather_captions = pd.read_csv('./captions.csv')
# weather_captions = Weather_data.drop(['Serial_ID','Date'], axis=1)
weather_captions.head()

,image,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...